@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@400;700&display=swap');
body {
    font-family: 'Montagu Slab', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #366A08, #000000);
    color: white;
    display: flex;
    justify-content: center;
}

/* Contenedor principal */
.container {
    display: grid;
    grid-template-areas: 
        "header header"
        "nav contenido"
        "nav buscador"
        "nav amigos"
        "footer footer";
    grid-template-columns: 200px 1fr;
    grid-template-rows: 90px 430px 50px 350px 125px; 
    width: 100%;
}

/* Estilo para el header */
header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 10px;
}

.logo img {
    width: 140px;
    height: auto;
}

.menu ul {
    list-style: none;
    display: flex;
    padding: 0;
}

.menu ul li {
    margin: 0 15px;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

.perfil-usuario {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 150px;
    height: 100%; /* Ajustado para mejor proporción */
    background: #000; /* Fondo negro */
    border-left: 1px solid #64C80D; /* Borde blanco */
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin-right: 30px;
    cursor: pointer;
}


.usuario {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
}
.usuario img{
    width: 40px;
    height: 40px;
}

.dinero {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    margin-top: -15px;
    margin-left: 16px;
    color:#FFD700 ;
}

.dinero img {
    width: 25px;
    height: 25px;
}



/* Menú lateral */
.menu-lateral {
    grid-area: nav;
    background-color: black;
    padding: 20px;
}


.menu-lateral ul {
    list-style: none;
    padding: 0;
}

.menu-lateral ul li {
    margin-bottom: 15px;
    position: relative;
}
.menu-lateral ul li p {
    color: #64C80D;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.menu-lateral ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: bold;
}


.submenu-amigos li,
.submenu-grupos li {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-left: 20px;
    color: white;
    font-size: 14px;
    padding: 5px 0;
}

.perfil {
    width: 40px;
    height: 35px;
    border-radius: 100px;
}
.puntos{
width: 15px;
height: 15px;
margin-left: 10px;
}

/* Contenido principal */
.contenido {
    grid-area: contenido;
    background-image: url("../img/fondousuario.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    border-radius: 16px;
}
.contenido h1 {
    
    width: 50%;
    text-align: center;
    font-size: 44px;
    font-weight: bold;
    color: #ffffff;
}
.buscador {
    grid-area: buscador;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.buscador form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1060px;
}

.buscador input[type="text"] {
    width: 90%;
    max-width: 1060px;
    padding: 15px;
    border-radius: 16px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: rgb(187, 181, 181);
    font-size: 16px;
}

.buscador input[type="text"]::placeholder {
    color: rgb(187, 181, 181);
}
.amigos-rec{
    display: flex;
    flex-direction: column;
    grid-area: amigos;
    justify-content: center; /* Centra las tarjetas horizontalmente */
    align-items: center;
}
.amigos-rec h3{
    align-self: flex-start;
    font-size: 24px;
    margin-left:16px;
}
/* Sección de Amigos */
.amigos {
    padding: 20px;
    border-radius: 16px;
    margin: 0 20px 20px 20px;
    display: flex;
    flex-wrap: wrap; /* Las tarjetas se organizan en varias filas si es necesario */
    gap: 20px; /* Espacio entre las tarjetas */
}

/* Tarjetas de amigos */
.amigos-card {
    display: flex;
    flex-direction: column; /* Coloca los elementos dentro de la tarjeta de forma vertical */
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 10px;
    width: 175px; /* Controla el tamaño de las tarjetas */
    transition: background-color 0.3s;
    box-sizing: border-box;
}

.amigos-card:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.amigos-card img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 7px; /* Agregamos un margen para separar la imagen del texto */
}

.amigos-card p {
    font-size: 16px;
    margin-bottom: 10px;
    color: white;
}

.amigos-card form input {
    background-color: #64C80D;
    border: none;
    color: white;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

.amigos-card form input:hover {
    background-color: #569F0A;
}

/* Footer */
footer {
    grid-area: footer;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    font-size: 14px;
}

/* Contenedor del logo y copyright */
.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-logo img {
    width: 150px;
    height: auto;
}


.footer-logo p {
    margin-top: -10px;
    color: white;
    font-size: 12px;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a {
    width: 40px;
    height: 40px;
    background-color: #47860f;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.social-icons a i {
    color: white;
    font-size: 20px;
}

/* Lista de enlaces */
.footer-links {
    display: flex;
    gap: 20px;
}

.footer-links ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.footer-links ul li {
    color: white;
    font-size: 14px;
    cursor: pointer;
}
